In [1]:
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

In [2]:
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

In [3]:
cur = db.list_collections()
for collection in cur:
    print(collection)

{'name': 'companies', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': UUID('fec41d62-1d18-46c6-b5d0-9daec6f429ba')}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_', 'ns': 'companies.companies'}}

# Indentify companies with more than 10 years

In [161]:
old_comps = list(db.companies.find({"founded_year":{"$lte":2003}},{"_id":0,"name":1,"founded_year":1,"offices.city":1,"offices.country_code":1,"offices.latitude":1,"offices.longitude":1}))
dfo = json_normalize(old_comps, "offices", ["name","founded_year"])

In [162]:
dfo.isnull().sum()

city              12
country_code       0
latitude        2459
longitude       2459
name               0
founded_year       0
dtype: int64

In [163]:
dfo = dfo.dropna(subset=["latitude"])
dfo

,city,country_code,latitude,longitude,name,founded_year
0,Pleasanton,USA,37.692934,-121.904945,AdventNet,1996
1,San Carlos,USA,37.506885,-122.247573,Postini,1999
2,Menlo Park,USA,37.484130,-122.169472,Gizmoz,2003
3,Beverly Hills,USA,34.076179,-118.394170,Fox Interactive Media,1979
4,,USA,37.269175,-119.306607,CBS,1986
...,...,...,...,...,...,...
5702,Dublin,USA,37.701940,-121.936698,Intergy,2003
5703,Livingston,USA,40.793024,-74.323554,AfterLogic,2002
5704,Bohemia,USA,40.775055,-73.088140,Contemporary Computer Services,1974
5705,Palm Beach,USA,26.705331,-80.041395,QSGI,1967
5706,Birmingham,USA,33.407786,-86.761302,EnteGreat,2000

In [164]:
dfo["coordinates"] = dfo.apply(lambda row:{"type":"Point", "coordinates":[row.latitude,row.longitude]},axis=1)
dfo

,city,country_code,latitude,longitude,name,founded_year,coordinates
0,Pleasanton,USA,37.692934,-121.904945,AdventNet,1996,"{'type': 'Point', 'coordinates': [37.692934, -..."
1,San Carlos,USA,37.506885,-122.247573,Postini,1999,"{'type': 'Point', 'coordinates': [37.506885, -..."
2,Menlo Park,USA,37.484130,-122.169472,Gizmoz,2003,"{'type': 'Point', 'coordinates': [37.48413, -1..."
3,Beverly Hills,USA,34.076179,-118.394170,Fox Interactive Media,1979,"{'type': 'Point', 'coordinates': [34.076179, -..."
4,,USA,37.269175,-119.306607,CBS,1986,"{'type': 'Point', 'coordinates': [37.269175, -..."
...,...,...,...,...,...,...,...
5702,Dublin,USA,37.701940,-121.936698,Intergy,2003,"{'type': 'Point', 'coordinates': [37.7019395, ..."
5703,Livingston,USA,40.793024,-74.323554,AfterLogic,2002,"{'type': 'Point', 'coordinates': [40.7930239, ..."
5704,Bohemia,USA,40.775055,-73.088140,Contemporary Computer Services,1974,"{'type': 'Point', 'coordinates': [40.775055, -..."
5705,Palm Beach,USA,26.705331,-80.041395,QSGI,1967,"{'type': 'Point', 'coordinates': [26.705331, -..."
5706,Birmingham,USA,33.407786,-86.761302,EnteGreat,2000,"{'type': 'Point', 'coordinates': [33.4077856, ..."

# Indentify tech startups which raised more than 1M

In [155]:
cool_comps = list(db.companies.find({"$and":[{"founded_year":{"$gt":2003}},{"total_money_raised":{"$not":{"$regex":"\$0|\.*k"}}}]},{"_id":0,"name":1,"category_code":1,"total_money_raised":1,"founded_year":1,"offices.city":1,"offices.country_code":1,"offices.latitude":1,"offices.longitude":1}))
dfc = json_normalize(cool_comps, "offices", ["name","category_code","total_money_raised","founded_year"])

In [156]:
dfc = dfc.dropna(subset=['latitude'])

In [157]:
dfc.isnull().sum()

city                  7
country_code          0
latitude              0
longitude             0
name                  0
category_code         2
total_money_raised    0
founded_year          0
dtype: int64

In [158]:
dfc.category_code.value_counts()

web                 285
software            249
advertising         190
enterprise          160
mobile              145
games_video         141
cleantech            63
ecommerce            58
biotech              55
network_hosting      42
analytics            39
search               37
social               37
hardware             34
semiconductor        30
security             25
finance              21
music                18
education            15
travel               15
other                14
public_relations     14
messaging            13
news                 12
photo_video          11
medical              10
health                9
transportation        8
real_estate           6
fashion               5
manufacturing         5
sports                5
automotive            4
hospitality           3
design                3
consulting            3
nanotech              2
legal                 1
nonprofit             1
Name: category_code, dtype: int64

In [136]:
tech_comps = ["web","software","mobile","games_video","cleantech","biotech","netwok_hosting","analytics","search",
              "hardware","nanotech"]

In [159]:
dfc = dfc.loc[dfc.category_code.isin(tech_comps)]
dfc

,city,country_code,latitude,longitude,name,category_code,total_money_raised,founded_year
0,Seattle,USA,47.603122,-122.333253,Wetpaint,web,$39.8M,2005
1,New York,USA,40.723731,-73.996431,Wetpaint,web,$39.8M,2005
2,West Hollywood,USA,34.090368,-118.393064,Geni,web,$16.5M,2006
7,New York,USA,40.746497,-74.009447,Joost,games_video,$45M,2006
8,London,GBR,53.344104,-6.267494,Babelgum,games_video,$13.2M,2007
...,...,...,...,...,...,...,...,...
2665,Herzliya,ISR,32.162413,34.844675,Aqwise,cleantech,$8.1M,2006
2666,Vancouver,CAN,49.282455,-123.109217,Tiny Speck,games_video,$17.2M,2009
2667,Santa Clara,USA,37.377798,-121.974454,OptiMedica,biotech,$51M,2004
2668,Fremont,USA,37.525246,-121.917842,Advanced Power Projects,cleantech,$13M,2009
2674,Brussels,BEL,50.839970,4.346472,Getyoo,mobile,€1.13M,2009

In [160]:
dfc["coordinates"] = dfc.apply(lambda row:{"type":"Point", "coordinates":[row.latitude,row.longitude]},axis=1)
dfc

,city,country_code,latitude,longitude,name,category_code,total_money_raised,founded_year,coordinates
0,Seattle,USA,47.603122,-122.333253,Wetpaint,web,$39.8M,2005,"{'type': 'Point', 'coordinates': [47.603122, -..."
1,New York,USA,40.723731,-73.996431,Wetpaint,web,$39.8M,2005,"{'type': 'Point', 'coordinates': [40.7237306, ..."
2,West Hollywood,USA,34.090368,-118.393064,Geni,web,$16.5M,2006,"{'type': 'Point', 'coordinates': [34.090368, -..."
7,New York,USA,40.746497,-74.009447,Joost,games_video,$45M,2006,"{'type': 'Point', 'coordinates': [40.7464969, ..."
8,London,GBR,53.344104,-6.267494,Babelgum,games_video,$13.2M,2007,"{'type': 'Point', 'coordinates': [53.344104, -..."
...,...,...,...,...,...,...,...,...,...
2665,Herzliya,ISR,32.162413,34.844675,Aqwise,cleantech,$8.1M,2006,"{'type': 'Point', 'coordinates': [32.162413, 3..."
2666,Vancouver,CAN,49.282455,-123.109217,Tiny Speck,games_video,$17.2M,2009,"{'type': 'Point', 'coordinates': [49.2824551, ..."
2667,Santa Clara,USA,37.377798,-121.974454,OptiMedica,biotech,$51M,2004,"{'type': 'Point', 'coordinates': [37.3777985, ..."
2668,Fremont,USA,37.525246,-121.917842,Advanced Power Projects,cleantech,$13M,2009,"{'type': 'Point', 'coordinates': [37.5252461, ..."
2674,Brussels,BEL,50.839970,4.346472,Getyoo,mobile,€1.13M,2009,"{'type': 'Point', 'coordinates': [50.83997, 4...."

# Not near diego

In [225]:
from math import sqrt
def check_coord(row):
    lat = row.latitude
    lng = row.longitude
    lat1 = [e for e in dfo.latitude]
    lng1 = [e for e in dfo.longitude]
    a = [e - lat for e in lat1]
    b = [e - lng for e in lng1]
    c = [sqrt(e * e  +  i * i) for e,i in zip(a,b)]
    radius = 2
    test =  any(i <= radius for i in c)
    return "inside" if test==True else "outside"

In [226]:
dfc["test"] = dfc.apply(check_coord,axis=1)
dfc.test

0       inside
1       inside
2       inside
7       inside
8       inside
         ...
2665    inside
2666    inside
2667    inside
2668    inside
2674    inside
Name: test, Length: 1050, dtype: object

In [229]:
dfc_clean = dfc.loc[dfc.test=="outside"]
dfc_clean

,city,country_code,latitude,longitude,name,category_code,total_money_raised,founded_year,coordinates,test
173,None,ISR,17.088810,-96.764920,Sportingo,web,$3.2M,2006,"{'type': 'Point', 'coordinates': [17.08881, -9...",outside
738,TromsÃ¸,NOR,69.636216,18.931062,Playfish,games_video,$21M,2007,"{'type': 'Point', 'coordinates': [69.636216, 1...",outside
1171,Dhanmondi,BGD,23.743156,90.379976,Code71,software,$1M,2006,"{'type': 'Point', 'coordinates': [23.743156, 9...",outside
1247,Saskatoon,CAN,52.143886,-106.663456,MyFrontSteps,web,$3M,2008,"{'type': 'Point', 'coordinates': [52.143886, -...",outside
1663,Tartu,USA,58.382054,26.731054,ZeroTurnaround,software,$2.7M,2007,"{'type': 'Point', 'coordinates': [58.3820542, ...",outside
1973,Tartu,EST,58.375411,26.721221,Fortumo,mobile,$10M,2007,"{'type': 'Point', 'coordinates': [58.3754107, ...",outside
2058,"Abertillery, Gwent,",GBR,23.066066,-82.292780,Atraverda,cleantech,£16.6M,2005,"{'type': 'Point', 'coordinates': [23.066066, -...",outside
2136,Perth,AUS,-31.978220,115.890840,HealthEngine,web,$10.4M,2007,"{'type': 'Point', 'coordinates': [-31.97822, 1...",outside
2522,Saskatoon,CAN,52.143886,-106.663456,VendAsta,software,C$11.3M,2008,"{'type': 'Point', 'coordinates': [52.143886, -...",outside

# Find things

In [263]:
import requests

def geoPlaces(address):
    '''
    https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
    
    
    '''
    res = requests.get(f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lng}&radius={r}&keyword={kw}&key=AIzaSyDd0YPoW_oLTmBiwtI70BhBgCuDVdmqn98")
    data = res.json()
    # Return as GeoJSON -> https://geojson.org/
    return data

In [271]:
r = 2000
kw = "starbucks"
starbucks = []
for e in dfc_clean.coordinates:
    lat = e["coordinates"][0]
    lng = e["coordinates"][1]
    result = geoPlaces(e)
    starbucks.append(result)
starbucks

[{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [],
  'results': [{'geometry': {'location': {'lat': 52.1315654,
      'lng': -106.6409981},
     'viewport': {'northeast': {'lat': 52.13314817989272,
       'lng': -106.6396657701073},
      'southwest': {'lat': 52.13044852010728, 'lng': -106.6423654298927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
    'id': 'aea556bcf7d302f29f65d3caaf2bd33c00275e05',
    'name': 'Starbucks',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 720,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101531671015676011289">Starbucks</a>'],
      'photo_reference': 'CmRaAAAAv7YSghb-_dJeFHWQ06J-qC6zk0M3J25EV98K0BMCkVN8ANXvaDnILcAENwluiEJaSjyPOjPAS26MZkAYVWtOCRg6vvuz45TW9XrteWE0Q91rm4x8AZrcXGBXRymqyCaoEhDwDwcrkQh-H8qBdFzrtTCFGhQI_cHQ1qXtV9MmdpIn8rXSoZFUmg',
      'width': 720}],
    'place_id': 'ChIJe0HQsMn2BFMRH_OOmzzznYw',
    'plus_code': {'compound_code': '49J5+JJ Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M49J5+JJ'},
    'price_level': 2,
    'rating': 3.1,
    'reference': 'ChIJe0HQsMn2BFMRH_OOmzzznYw',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 14,
    'vicinity': '103 Hospital Dr, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1276455, 'lng': -106.6664984},
     'viewport': {'northeast': {'lat': 52.12895002989272,
       'lng': -106.6651779201073},
      'southwest': {'lat': 52.12625037010728, 'lng': -106.6678775798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '3522987cd632adc51dcee2d1aafc3c70e7a9bf86',
    'name': 'Starbucks',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 8064,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114555492423400022615">Isa Fuentes</a>'],
      'photo_reference': 'CmRaAAAA-5eQsuwyAih23GO6By-nWyZbcRzR8cxYOWmIP-aie3obp3a87v4LbA2cUpgobwjKs2_ENMq_3hJeR9d5bCJ9F98wg1oUPjoO1h5CO5duF2292VEVS3_MxV6apdcC902rEhCfSeSQbQql_G_V_TKZDI_fGhQ_-5zPkL3Od76f-4d8b4sHwH0ttw',
      'width': 6048}],
    'place_id': 'ChIJC-Rxs9f2BFMRx3hmeihlKsU',
    'plus_code': {'compound_code': '48HM+3C Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48HM+3C'},
    'price_level': 2,
    'rating': 4.2,
    'reference': 'ChIJC-Rxs9f2BFMRx3hmeihlKsU',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 307,
    'vicinity': '201 1 Ave S #10b, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1285414, 'lng': -106.6636211},
     'viewport': {'northeast': {'lat': 52.12990607989272,
       'lng': -106.6623534201073},
      'southwest': {'lat': 52.12720642010728, 'lng': -106.6650530798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '4ad1c912e9a132284fcd3d5137c9fc5bd42dcb80',
    'name': 'Starbucks',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 960,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113707466980619205383">Willa Picton</a>'],
      'photo_reference': 'CmRaAAAARxcauBBtL_FBW6d_0HY2H4zm74TVICquTefc5F0tIj1Oi3wi2VBdJ-KGXzzURSsMzpq0L891fDRyqeemxdo5l-QRinMoE6KLU84l1bc9WCQe4BYt4L0ODCd19RkF8jzbEhBSb1FS9na5huBrn0_TYVB0GhR2ErK_O73qI5ounFe_GQ2COX6MDw',
      'width': 720}],
    'place_id': 'ChIJCx4jPdf2BFMRhcnRffVrRak',
    'plus_code': {'compound_code': '48HP+CH Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48HP+CH'},
    'price_level': 2,
    'rating': 4.3,
    'reference': 'ChIJCx4jPdf2BFMRhcnRffVrRak',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 438,
    'vicinity': '100 2 Ave S, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1311913, 'lng': -106.6369734},
     'viewport': {'northeast': {'lat': 52.13230897989271,
       'lng': -106.6358687201073},
      'southwest': {'lat': 52.12960932010727, 'lng': -106.6385683798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '43405cffefbc07b5d1ea89e6b1742d42aa1883ca',
    'name': 'Starbucks',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 4358,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104888592081372128361">Hamid Khodabandehloo</a>'],
      'photo_reference': 'CmRaAAAAf_8hGC8-MFJt3CZQHgYJpgbyAysetC4Tap4I7tYabNIvgQMue908WT6AMCkTpgzd3X4cTxU9JxhnDGJ3wdzDg09tJP4IzGsMfGvyvHkydEoBUL3pzfqepj5YYUNZa17-EhBQpqHQ_m3T89bu_Vl6NMTbGhSvBZ7UaA4CkgRr1yzscJX0j0dPyQ',
      'width': 7029}],
    'place_id': 'ChIJ6_vCSbb2BFMRy6YXNMgX90w',
    'plus_code': {'compound_code': '49J7+F6 Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M49J7+F6'},
    'price_level': 2,
    'rating': 3.9,
    'reference': 'ChIJ6_vCSbb2BFMRy6YXNMgX90w',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 110,
    'vicinity': '91 Campus Dr, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1475915, 'lng': -106.670829},
     'viewport': {'northeast': {'lat': 52.14894087989272,
       'lng': -106.6692067201073},
      'southwest': {'lat': 52.14624122010728, 'lng': -106.6719063798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': 'df5078f8b3088955fb25dade1ee6f1c1a22a43b0',
    'name': 'Starbucks',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 3024,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103585434113384355688">Huy Dang</a>'],
      'photo_reference': 'CmRaAAAAoQ6nGnJm1RLNkg8ixGTwHQdfko0insi8xUDywNPaawWd0LtaVsQJdVVydYkvjWUxSMp9Oi84E9QbSq4U6jzzr4mvDG4I5Z5MA3bXQzL-ib2c-vZvfyeR7vOipt7Ps9l1EhAL85qe6Z6RdBQGJT-l3n5HGhQ8F0kPX_tnvgsLqSisGOb9KVHiMg',
      'width': 4032}],
    'place_id': 'ChIJe2ImHxf3BFMRyBUu9RupqFI',
    'plus_code': {'compound_code': '48XH+2M Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48XH+2M'},
    'price_level': 2,
    'rating': 4.5,
    'reference': 'ChIJe2ImHxf3BFMRyBUu9RupqFI',
    'scope': 'GOOGLE',
    'types': ['food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 39,
    'vicinity': '1421 Idylwyld Dr N #60, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1584278, 'lng': -106.6636507},
     'viewport': {'northeast': {'lat': 52.15957557989272,
       'lng': -106.6622873701073},
      'southwest': {'lat': 52.15687592010728, 'lng': -106.6649870298927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '17d1a6cde60d7d0beecdf7028add047096bb16ca',
    'name': 'Starbucks',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 4032,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102925104175168108522">Laurissa Gerritse</a>'],
      'photo_reference': 'CmRaAAAA35MM48ITw6__5_1biglq-lUg2Ryn6sUYdzXy1mQz9QmLjmjldz2HhrDbXE7nIix4_m78FE7EEVw5Qe9AoiB7-SP9DjjhFUzoG9L7yCNHZhENlraE9jXSKV-ZPHvSxYR-EhCxdnioGSMKC6puGtMzh0zOGhQGPW_JjWcpg5k28WmR9zMVqvb9ew',
      'width': 3024}],
    'place_id': 'ChIJtciDzq_3BFMR6kSMBD8Qir8',
    'plus_code': {'compound_code': '585P+9G Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M585P+9G'},
    'rating': 4.9,
    'reference': 'ChIJtciDzq_3BFMR6kSMBD8Qir8',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 10,
    'vicinity': '510 Circle Dr, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1273637, 'lng': -106.675427},
     'viewport': {'northeast': {'lat': 52.12871232989272,
       'lng': -106.6739047201073},
      'southwest': {'lat': 52.12601267010728, 'lng': -106.6766043798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
    'id': '768b2218a7df9fc0ad1682e54eb530bb70e90d1a',
    'name': 'Road Coffee Co.',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 3264,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107864408545227184145">Road Coffee Co.</a>'],
      'photo_reference': 'CmRZAAAA6AgCSc-OZ9V70m9n1Fs7ikCMMy7Aaq6i0Kr6OMPhyxb3xfE_9gJJ5dAmj4DOfBwyURo7NCIY29Z2H5E8JSlD3UZvqxlGEVHk3biYzjR6EhKSHeRlgBLUYOA-KNUYtuG6EhA-UPab7ehT7DHYoD1xl4oaGhQ0KBZtuDxxxrl__JfrmPEKuB1bKw',
      'width': 4896}],
    'place_id': 'ChIJXfoFVtj2BFMRc6PgpRfKYhQ',
    'plus_code': {'compound_code': '48GF+WR Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48GF+WR'},
    'rating': 4.8,
    'reference': 'ChIJXfoFVtj2BFMRc6PgpRfKYhQ',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 19,
    'vicinity': '209 Avenue D S #100, Saskatoon'}],
  'status': 'OK'},
 {'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'},
 {'html_attributions': [],
  'results': [{'geometry': {'location': {'lat': 52.1315654,
      'lng': -106.6409981},
     'viewport': {'northeast': {'lat': 52.13314817989272,
       'lng': -106.6396657701073},
      'southwest': {'lat': 52.13044852010728, 'lng': -106.6423654298927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
    'id': 'aea556bcf7d302f29f65d3caaf2bd33c00275e05',
    'name': 'Starbucks',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 720,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101531671015676011289">Starbucks</a>'],
      'photo_reference': 'CmRaAAAARNWlYOdV3gnBOiz4gqfBWNgP3uJU4BS-DUPMq0wk0uolDvmm1td03z7hnfkEdR8Ju0mZ7P0b5Rf-5ZM_zTOhik43zhhsmrdKdxR-cKI8XmcV5QbdgwJJlD3294UlgX0TEhDQ6SgfKxh_IefetV-GKeQwGhSWs56dD-j0m7Qx7095FLdmbYGPBQ',
      'width': 720}],
    'place_id': 'ChIJe0HQsMn2BFMRH_OOmzzznYw',
    'plus_code': {'compound_code': '49J5+JJ Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M49J5+JJ'},
    'price_level': 2,
    'rating': 3.1,
    'reference': 'ChIJe0HQsMn2BFMRH_OOmzzznYw',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 14,
    'vicinity': '103 Hospital Dr, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1276455, 'lng': -106.6664984},
     'viewport': {'northeast': {'lat': 52.12895002989272,
       'lng': -106.6651779201073},
      'southwest': {'lat': 52.12625037010728, 'lng': -106.6678775798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '3522987cd632adc51dcee2d1aafc3c70e7a9bf86',
    'name': 'Starbucks',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 8064,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114555492423400022615">Isa Fuentes</a>'],
      'photo_reference': 'CmRaAAAAopn3113solz9OpHHTxz02frohsxAXWw5SoBDUVfH2BLCQF2USJ4TPMEe4WplMNfEP1XxZ5_KlHjyhMQtOYOtv0B-wt_fLQX6FZP6HDnHHr1Gq8IjG0eucnrnkdFWLRN5EhBfkqiCM9yvFm1oGeci_xSEGhSH3LA721xKzBnFgFMvuLkMJTDt-A',
      'width': 6048}],
    'place_id': 'ChIJC-Rxs9f2BFMRx3hmeihlKsU',
    'plus_code': {'compound_code': '48HM+3C Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48HM+3C'},
    'price_level': 2,
    'rating': 4.2,
    'reference': 'ChIJC-Rxs9f2BFMRx3hmeihlKsU',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 307,
    'vicinity': '201 1 Ave S #10b, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1285414, 'lng': -106.6636211},
     'viewport': {'northeast': {'lat': 52.12990607989272,
       'lng': -106.6623534201073},
      'southwest': {'lat': 52.12720642010728, 'lng': -106.6650530798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '4ad1c912e9a132284fcd3d5137c9fc5bd42dcb80',
    'name': 'Starbucks',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 960,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113707466980619205383">Willa Picton</a>'],
      'photo_reference': 'CmRaAAAAxa--PsKSsRiSNmazdly8QypTOzPRFJFKLKcOVMdGOxqLIR_N-M_ND8SQZZOuaf3ncoFDUYa-zK4f_Hr-rHkHV1tLnotcTyj_eGTzzxZcJichVP16D-bOvczA15cE1Wm_EhBY7CXf8o3X54mtHf22XQ12GhRce_-I6UQtHvBUFjAi8emFl0oHwQ',
      'width': 720}],
    'place_id': 'ChIJCx4jPdf2BFMRhcnRffVrRak',
    'plus_code': {'compound_code': '48HP+CH Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48HP+CH'},
    'price_level': 2,
    'rating': 4.3,
    'reference': 'ChIJCx4jPdf2BFMRhcnRffVrRak',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 438,
    'vicinity': '100 2 Ave S, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1311913, 'lng': -106.6369734},
     'viewport': {'northeast': {'lat': 52.13230897989271,
       'lng': -106.6358687201073},
      'southwest': {'lat': 52.12960932010727, 'lng': -106.6385683798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '43405cffefbc07b5d1ea89e6b1742d42aa1883ca',
    'name': 'Starbucks',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 4358,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104888592081372128361">Hamid Khodabandehloo</a>'],
      'photo_reference': 'CmRaAAAAAZmUzm_7B1pslcLfC4Sr3rPC_ntqA7I09pMoOPwnB3SaOw6BbEM2n39KLvIaQvtBF06lRnLdX_MSnHso9Rzu1vH1ne9vblKvnS6aWtDxiDLv3FR9bhVU0Qtrscnz97MxEhD90tXyms9uTdHy2wwVyBitGhSc69Jd-N9yQPVedMlHG2GW2Qtd4w',
      'width': 7029}],
    'place_id': 'ChIJ6_vCSbb2BFMRy6YXNMgX90w',
    'plus_code': {'compound_code': '49J7+F6 Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M49J7+F6'},
    'price_level': 2,
    'rating': 3.9,
    'reference': 'ChIJ6_vCSbb2BFMRy6YXNMgX90w',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 110,
    'vicinity': '91 Campus Dr, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1475915, 'lng': -106.670829},
     'viewport': {'northeast': {'lat': 52.14894087989272,
       'lng': -106.6692067201073},
      'southwest': {'lat': 52.14624122010728, 'lng': -106.6719063798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': 'df5078f8b3088955fb25dade1ee6f1c1a22a43b0',
    'name': 'Starbucks',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 3024,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103585434113384355688">Huy Dang</a>'],
      'photo_reference': 'CmRaAAAAyVAl2CwASbCY_9gSpiwPqphdU1OPvVivoGgPfSe5fVtPg5mIh0ZTIGjXoZr9KFrCt58698ZcbFrlvGIBmu468Vqdn1ENH2AuyLZ4QMlfQH9I59HV6F18lwn_4cl0cw6BEhDzE_9ESxOUXOK31dzen49HGhRPGG0Jv7NsCUHXWd0gJAfPUNcHoA',
      'width': 4032}],
    'place_id': 'ChIJe2ImHxf3BFMRyBUu9RupqFI',
    'plus_code': {'compound_code': '48XH+2M Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48XH+2M'},
    'price_level': 2,
    'rating': 4.5,
    'reference': 'ChIJe2ImHxf3BFMRyBUu9RupqFI',
    'scope': 'GOOGLE',
    'types': ['food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 39,
    'vicinity': '1421 Idylwyld Dr N #60, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1584278, 'lng': -106.6636507},
     'viewport': {'northeast': {'lat': 52.15957557989272,
       'lng': -106.6622873701073},
      'southwest': {'lat': 52.15687592010728, 'lng': -106.6649870298927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
    'id': '17d1a6cde60d7d0beecdf7028add047096bb16ca',
    'name': 'Starbucks',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 4032,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102925104175168108522">Laurissa Gerritse</a>'],
      'photo_reference': 'CmRaAAAA7PuXV_72FhSm-PTVRyE3pw59O6VVvTLsKGfZP2U8ZAeKBhH2GPbdelcAtXxSFUzZDOUgQne24-Yk1vU2QPiiJp1KjNLE9vM5x1a0I6Zw524rsLYn5ykO27lvrDrwCdB-EhBZrYcLc02vIyWv_xjGr2kGGhR3GnVJPh6mKOvoLEmOh4QxGuZGWQ',
      'width': 3024}],
    'place_id': 'ChIJtciDzq_3BFMR6kSMBD8Qir8',
    'plus_code': {'compound_code': '585P+9G Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M585P+9G'},
    'rating': 4.9,
    'reference': 'ChIJtciDzq_3BFMR6kSMBD8Qir8',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 10,
    'vicinity': '510 Circle Dr, Saskatoon'},
   {'geometry': {'location': {'lat': 52.1273637, 'lng': -106.675427},
     'viewport': {'northeast': {'lat': 52.12871232989272,
       'lng': -106.6739047201073},
      'southwest': {'lat': 52.12601267010728, 'lng': -106.6766043798927}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
    'id': '768b2218a7df9fc0ad1682e54eb530bb70e90d1a',
    'name': 'Road Coffee Co.',
    'opening_hours': {'open_now': False},
    'photos': [{'height': 3264,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107864408545227184145">Road Coffee Co.</a>'],
      'photo_reference': 'CmRZAAAA1AdVf8f3r-zngbDEPgewKjuXCfhc9-uzvIK1tAR9tGdAeSFQQywh-5MY3coLbI54JtbIsFsPl1VczT14HApHZ0287OUEOvAU8lrAr9brVp0jZT_tbP-Pfbqf20yGEzjPEhBct4X4V5nEwr-MZJ_Pu1jJGhRVo8c0fW21D79qV6YQ9tylpTy_hw',
      'width': 4896}],
    'place_id': 'ChIJXfoFVtj2BFMRc6PgpRfKYhQ',
    'plus_code': {'compound_code': '48GF+WR Saskatoon, Corman Park No. 344, SK, Canada',
     'global_code': '954M48GF+WR'},
    'rating': 4.8,
    'reference': 'ChIJXfoFVtj2BFMRc6PgpRfKYhQ',
    'scope': 'GOOGLE',
    'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
    'user_ratings_total': 19,
    'vicinity': '209 Avenue D S #100, Saskatoon'}],
  'status': 'OK'}]

In [356]:
r = 2000
kw = "starbucks"
starbucks = []
for e in dfc_clean.coordinates:
    lat = e["coordinates"][0]
    lng = e["coordinates"][1]
    result = geoPlaces(e)
    starbucks.append(result)
rr=[]    
for e in starbucks:
    if e["results"]!=[]:
        s = e["results"]
        tr = []
        for c in s:
            j = c["name"]
            k = c["geometry"]["location"]
            tr.extend([j,k])
        rr.append(tr)
    else:
        rr.append("no")
rr

['no',
 'no',
 'no',
 ['Starbucks',
  {'lat': 52.1315654, 'lng': -106.6409981},
  'Starbucks',
  {'lat': 52.1276455, 'lng': -106.6664984},
  'Starbucks',
  {'lat': 52.1285414, 'lng': -106.6636211},
  'Starbucks',
  {'lat': 52.1311913, 'lng': -106.6369734},
  'Starbucks',
  {'lat': 52.1475915, 'lng': -106.670829},
  'Starbucks',
  {'lat': 52.1584278, 'lng': -106.6636507},
  'Road Coffee Co.',
  {'lat': 52.1273637, 'lng': -106.675427}],
 'no',
 'no',
 'no',
 'no',
 ['Starbucks',
  {'lat': 52.1315654, 'lng': -106.6409981},
  'Starbucks',
  {'lat': 52.1276455, 'lng': -106.6664984},
  'Starbucks',
  {'lat': 52.1285414, 'lng': -106.6636211},
  'Starbucks',
  {'lat': 52.1311913, 'lng': -106.6369734},
  'Starbucks',
  {'lat': 52.1475915, 'lng': -106.670829},
  'Starbucks',
  {'lat': 52.1584278, 'lng': -106.6636507},
  'Road Coffee Co.',
  {'lat': 52.1273637, 'lng': -106.675427}]]

In [342]:
dfc_clean["tt"] = rr
dfc_clean

/home/diego/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,city,country_code,latitude,longitude,name,category_code,total_money_raised,founded_year,coordinates,test,tt
173,None,ISR,17.088810,-96.764920,Sportingo,web,$3.2M,2006,"{'type': 'Point', 'coordinates': [17.08881, -9...",outside,no
738,TromsÃ¸,NOR,69.636216,18.931062,Playfish,games_video,$21M,2007,"{'type': 'Point', 'coordinates': [69.636216, 1...",outside,no
1171,Dhanmondi,BGD,23.743156,90.379976,Code71,software,$1M,2006,"{'type': 'Point', 'coordinates': [23.743156, 9...",outside,no
1247,Saskatoon,CAN,52.143886,-106.663456,MyFrontSteps,web,$3M,2008,"{'type': 'Point', 'coordinates': [52.143886, -...",outside,"[{'lat': 52.1315654, 'lng': -106.6409981}, {'l..."
1663,Tartu,USA,58.382054,26.731054,ZeroTurnaround,software,$2.7M,2007,"{'type': 'Point', 'coordinates': [58.3820542, ...",outside,no
1973,Tartu,EST,58.375411,26.721221,Fortumo,mobile,$10M,2007,"{'type': 'Point', 'coordinates': [58.3754107, ...",outside,no
2058,"Abertillery, Gwent,",GBR,23.066066,-82.292780,Atraverda,cleantech,£16.6M,2005,"{'type': 'Point', 'coordinates': [23.066066, -...",outside,no
2136,Perth,AUS,-31.978220,115.890840,HealthEngine,web,$10.4M,2007,"{'type': 'Point', 'coordinates': [-31.97822, 1...",outside,no
2522,Saskatoon,CAN,52.143886,-106.663456,VendAsta,software,C$11.3M,2008,"{'type': 'Point', 'coordinates': [52.143886, -...",outside,"[{'lat': 52.1315654, 'lng': -106.6409981}, {'l..."

In [353]:
r = 2000
kw = "school"
school = []
for e in dfc_clean.coordinates:
    lat = e["coordinates"][0]
    lng = e["coordinates"][1]
    result = geoPlaces(e)
    school.append(result)
ss=[]    
for e in school:
    if e["results"]!=[]:
        s = e["results"]
        tr = []
        for c in s:
            j = c["name"]
            k = c["geometry"]["location"]
            tr.extend([j,k])
        ss.append(tr)
    else:
        ss.append("no")
ss

[[{'lat': 17.0716476, 'lng': -96.7574293},
  'Kosan Montoya',
  {'lat': 17.1039682, 'lng': -96.7778684},
  'Escuela de musica Atl-tzontle',
  {'lat': 17.0731866, 'lng': -96.75071179999999},
  'El Sauz Ejutla de Crespo',
  {'lat': 17.07668, 'lng': -96.753706},
  '3D English Oaxaca',
  {'lat': 17.0968788, 'lng': -96.75085299999999},
  'Misioneras de San Juan Bautista',
  {'lat': 17.0903859, 'lng': -96.7524103},
  'Escuela Preparatoria Macedonio Alcalá',
  {'lat': 17.0708386, 'lng': -96.77579229999999},
  'Escuela Rural',
  {'lat': 17.0824135, 'lng': -96.7617367},
  'Centro Universitario Casandoo Campus 2',
  {'lat': 17.0868594, 'lng': -96.7533758},
  'New Mexico High School General',
  {'lat': 17.1032863, 'lng': -96.761932},
  'Technical High School 215',
  {'lat': 17.1030966, 'lng': -96.7580562},
  'Escuela Primaria 27 de Septiembre',
  {'lat': 17.0886374, 'lng': -96.7544272},
  'Escuela Primaria Matutina México Libre',
  {'lat': 17.0794734, 'lng': -96.7638937},
  'Escuela Primaria Francisco Gonzalez Boca Negra',
  {'lat': 17.0914561, 'lng': -96.7678485},
  'Escuela Secundaria General Emiliano Zapata',
  {'lat': 17.100472, 'lng': -96.76342299999999},
  'Escuela Primaria Basilio Rojas Gallardo',
  {'lat': 17.0794026, 'lng': -96.7643429},
  'Primaria Niños Héroes',
  {'lat': 17.1055188, 'lng': -96.7512678},
  'Instituto Darcy Ribeiro',
  {'lat': 17.1043898, 'lng': -96.7624926},
  'Escuela Telesecundaria San Jacinto Amilpas',
  {'lat': 17.1007228, 'lng': -96.7658544},
  'Puente Viejo',
  {'lat': 17.0711978, 'lng': -96.75477889999999},
  'Colegio Henry C. Morrison Primaria y Preescolar'],
 [{'lat': 69.6498714, 'lng': 18.9489929},
  'Kongsbakken Upper Secondary School',
  {'lat': 69.6346071, 'lng': 18.923845},
  'Bjerkaker primary school',
  {'lat': 69.6538908, 'lng': 18.9519932},
  'Tromsö',
  {'lat': 69.6515929, 'lng': 18.9506534},
  'Gyllenborg school',
  {'lat': 69.650117, 'lng': 18.9534884},
  'Sonans Utdanning Tromsø - privatist',
  {'lat': 69.6461868, 'lng': 18.9491291},
  'Tromsø Academy of Landscape and Territorial Studies',
  {'lat': 69.6429751, 'lng': 18.9047479},
  'Fagereng school',
  {'lat': 69.6492047, 'lng': 18.9553239},
  'Xelliy',
  {'lat': 69.6506531, 'lng': 18.9549675},
  'Tromso library',
  {'lat': 69.6409592, 'lng': 18.9347364},
  'Steinerskolen i Tromsø',
  {'lat': 69.6357955, 'lng': 18.9671196},
  'Reinen School',
  {'lat': 69.6520319, 'lng': 18.935709},
  'Sommerlyst skole',
  {'lat': 69.6360835, 'lng': 18.9144702},
  'Kulturskolen, Tromsø kommune',
  {'lat': 69.6496736, 'lng': 18.9350175},
  'Norges Toppidrettsgymnas i Tromsø',
  {'lat': 69.65511500000001, 'lng': 18.9543319},
  'Ishavsbyen high school Rambergan'],
 [{'lat': 23.753838, 'lng': 90.370846},
  'Oxford International School',
  {'lat': 23.7586284, 'lng': 90.3638426},
  'Mohammadpur Preparatory School & College',
  {'lat': 23.7504306, 'lng': 90.3701644},
  'Maple Leaf International School',
  {'lat': 23.759697, 'lng': 90.3703249},
  'St. Joseph Higher Secondary School',
  {'lat': 23.7416248, 'lng': 90.3913398},
  'Free School Street, Hatirpool',
  {'lat': 23.7540525, 'lng': 90.39321249999999},
  '10 Minute School',
  {'lat': 23.7430029, 'lng': 90.38520930000001},
  "YWCA Higher Secondary Girls' School",
  {'lat': 23.7525699, 'lng': 90.375626},
  'European Standard School',
  {'lat': 23.7289436, 'lng': 90.3859605},
  'Azimpur High School Dhaka',
  {'lat': 23.7459879, 'lng': 90.3740833},
  'Green Gems Int. School.',
  {'lat': 23.7586828, 'lng': 90.39128099999999},
  'Holy Cross School and College Playground',
  {'lat': 23.7444314, 'lng': 90.3795691},
  'Sunnydale School Senior Section',
  {'lat': 23.7546864, 'lng': 90.3647702},
  'Academia School (Lalmatia Campus)',
  {'lat': 23.746983, 'lng': 90.3622973},
  'JAAGO Foundation, Rayer Bazar School',
  {'lat': 23.75763, 'lng': 90.391746},
  'Tejgaon Govt High School',
  {'lat': 23.7540912, 'lng': 90.3748935},
  'Daffodil International School',
  {'lat': 23.7573408, 'lng': 90.368854},
  'Shahajpath High School সহজপাঠ উচ্চ বিদ্যালয়',
  {'lat': 23.7450421, 'lng': 90.3690364},
  'Holy Rose School & College',
  {'lat': 23.7609876, 'lng': 90.3698605},
  'St. Jacob School',
  {'lat': 23.7294491, 'lng': 90.3925041},
  'Udayan Higher Secondary School'],
 [{'lat': 52.146272, 'lng': -106.676687},
  'Mayfair Community School',
  {'lat': 52.139676, 'lng': -106.648072},
  'City Park Collegiate',
  {'lat': 52.1479045, 'lng': -106.6498186},
  'North Park Wilson School',
  {'lat': 52.13405299999999, 'lng': -106.6890684},
  'E. D. Feehan Catholic High School',
  {'lat': 52.1388107, 'lng': -106.6722033},
  'Caswell Community School',
  {'lat': 52.12807979999999, 'lng': -106.6810388},
  'Princess Alexandra Community School',
  {'lat': 52.139676, 'lng': -106.648072},
  'Maria Montessori Preschool',
  {'lat': 52.1338815, 'lng': -106.6848947},
  'Westmount Community School',
  {'lat': 52.147756, 'lng': -106.6454079},
  'École St. Paul Elementary School',
  {'lat': 52.14479979999999, 'lng': -106.6882793},
  'École Henry Kelsey School',
  {'lat': 52.133737, 'lng': -106.6810117},
  'Bedford Road Collegiate',
  {'lat': 52.12864039999999, 'lng': -106.6651608},
  'Post-Secondary Education & Skills Training',
  {'lat': 52.1607222, 'lng': -106.6731586},
  'SOULworks School of Enlightenment',
  {'lat': 52.1332144, 'lng': -106.6700458},
  'Aden bowman',
  {'lat': 52.1297153, 'lng': -106.6394431},
  'School of Rehabilitation Science, University of Saskatchewan',
  {'lat': 52.1494159, 'lng': -106.6675388},
  'Flex ED School',
  {'lat': 52.1441038, 'lng': -106.6670281},
  'St. Michael Community School',
  {'lat': 52.13224049999999, 'lng': -106.6570877},
  'Delong Ancient Mystery School',
  {'lat': 52.1389401, 'lng': -106.6718847},
  'Caswell Pre Kindergarten',
  {'lat': 52.1295211, 'lng': -106.6846622},
  'Saskatoon Conservatory of Music'],
 [{'lat': 58.377616, 'lng': 26.7138649},
  'Tartu International School MTÜ',
  {'lat': 58.37146449999999, 'lng': 26.7338276},
  'Tartu Karlova Gümnaasium',
  {'lat': 58.38449869999999, 'lng': 26.7366808},
  'Tartu Raatuse School',
  {'lat': 58.3731592, 'lng': 26.7150461},
  'Tartu Mart Reiniku School',
  {'lat': 58.3838914, 'lng': 26.6971254},
  'Tartu Hiie School',
  {'lat': 58.3758196, 'lng': 26.7200093},
  'Tartu Herbert Masing School',
  {'lat': 58.3737749, 'lng': 26.7112005},
  'Tartu Väike Päike Lasteaed',
  {'lat': 58.37376349999999, 'lng': 26.7213208},
  'Johannes Mihkelsoni Keskus',
  {'lat': 58.39934159999999, 'lng': 26.7122832},
  'KHK',
  {'lat': 58.37349589999999, 'lng': 26.7223437},
  'Baltic Defence College',
  {'lat': 58.3705221, 'lng': 26.7156148},
  'Tartu Kunstikooli 3D-klass',
  {'lat': 58.3872564, 'lng': 26.7433448},
  'KVA matkekeskus',
  {'lat': 58.3707255, 'lng': 26.7251254},
  'Tartu Kindergarten Karoliine',
  {'lat': 58.3767411, 'lng': 26.7090165},
  'Miina Härma Gümnaasium',
  {'lat': 58.376642, 'lng': 26.757566},
  'Tartu Hansa Kool',
  {'lat': 58.3892316, 'lng': 26.704181},
  'Limpa ski school',
  {'lat': 58.38267370000001, 'lng': 26.7150588},
  'Tartu Kesklinna Kool',
  {'lat': 58.38339569999999, 'lng': 26.7105135},
  'Tartu Catholic Education Center NGO',
  {'lat': 58.37531389999999, 'lng': 26.7197326},
  'Tartu Jaan Poska Gymnasium',
  {'lat': 58.380732, 'lng': 26.7209721},
  'Tartu Luterlik Peetri Kool MTÜ'],
 [{'lat': 58.35977819999999, 'lng': 26.7298108},
  'Tartu Forseliuse School',
  {'lat': 58.377616, 'lng': 26.7138649},
  'Tartu International School MTÜ',
  {'lat': 58.3751532, 'lng': 26.6866881},
  'Tartu Veeriku School',
  {'lat': 58.38449869999999, 'lng': 26.7366808},
  'Tartu Raatuse School',
  {'lat': 58.3838914, 'lng': 26.6971254},
  'Tartu Hiie School',
  {'lat': 58.37146449999999, 'lng': 26.7338276},
  'Tartu Karlova Gümnaasium',
  {'lat': 58.36311629999999, 'lng': 26.7057219},
  'Tamme School',
  {'lat': 58.3731592, 'lng': 26.7150461},
  'Tartu Mart Reiniku School',
  {'lat': 58.37349589999999, 'lng': 26.7223437},
  'Baltic Defence College',
  {'lat': 58.3872564, 'lng': 26.7433448},
  'KVA matkekeskus',
  {'lat': 58.3758196, 'lng': 26.7200093},
  'Tartu Herbert Masing School',
  {'lat': 58.37376349999999, 'lng': 26.7213208},
  'Johannes Mihkelsoni Keskus',
  {'lat': 58.3705221, 'lng': 26.7156148},
  'Tartu Kunstikooli 3D-klass',
  {'lat': 58.38339569999999, 'lng': 26.7105135},
  'Tartu Catholic Education Center NGO',
  {'lat': 58.37531389999999, 'lng': 26.7197326},
  'Tartu Jaan Poska Gymnasium',
  {'lat': 58.3707255, 'lng': 26.7251254},
  'Tartu Kindergarten Karoliine',
  {'lat': 58.37891020000001, 'lng': 26.7470646},
  'Noorte DJ Kool',
  {'lat': 58.3737749, 'lng': 26.7112005},
  'Tartu Väike Päike Lasteaed',
  {'lat': 58.3822748, 'lng': 26.720528},
  'Hugo Treffner Gymnasium',
  {'lat': 58.3767411, 'lng': 26.7090165},
  'Miina Härma Gümnaasium'],
 [{'lat': 23.0513756, 'lng': -82.27755189999999},
  'Secundaria básica 13 de marzo',
  {'lat': 23.0656246, 'lng': -82.2963465},
  'Escuela Primaria Antonio Perez Martinez'],
 [{'lat': -31.9712183, 'lng': 115.9087111},
  "St Clare's School",
  {'lat': -31.9714173, 'lng': 115.8889502},
  'Victoria Park Christian School',
  {'lat': -31.965528, 'lng': 115.897829},
  'Perth Individual College',
  {'lat': -31.9867554, 'lng': 115.8850766},
  'Kensington Secondary School',
  {'lat': -31.9810408, 'lng': 115.8829974},
  'Kensington Primary School',
  {'lat': -31.97144, 'lng': 115.8924009},
  'Victoria Park Primary School',
  {'lat': -31.969631, 'lng': 115.9087581},
  'Lathlain Primary School',
  {'lat': -31.98024119999999, 'lng': 115.9085209},
  'East Victoria Park Primary School',
  {'lat': -31.96016019999999, 'lng': 115.9065791},
  "Saint Augustine's Primary School",
  {'lat': -31.9913583, 'lng': 115.8726949},
  'Collier Primary School',
  {'lat': -31.98569999999999, 'lng': 115.89266},
  'Kent Street Senior High School',
  {'lat': -31.9927885, 'lng': 115.9064195},
  'Carson Street School',
  {'lat': -31.9726599, 'lng': 115.8982058},
  "St Joachim's School.",
  {'lat': -31.9717724, 'lng': 115.8897298},
  'Regent College',
  {'lat': -31.9730485, 'lng': 115.8996279},
  'Ursula Frayne Catholic College',
  {'lat': -31.9872909, 'lng': 115.877216},
  'Thomas catholic primary school',
  {'lat': -31.9913647, 'lng': 115.8726884},
  "Lara's school",
  {'lat': -31.9599218, 'lng': 115.8832557},
  'Trinity College',
  {'lat': -31.9809117, 'lng': 115.8831531},
  'Schools Government',
  {'lat': -31.9712444, 'lng': 115.8978327},
  'School of Practical Philosophy'],
 [{'lat': 52.146272, 'lng': -106.676687},
  'Mayfair Community School',
  {'lat': 52.139676, 'lng': -106.648072},
  'City Park Collegiate',
  {'lat': 52.1479045, 'lng': -106.6498186},
  'North Park Wilson School',
  {'lat': 52.13405299999999, 'lng': -106.6890684},
  'E. D. Feehan Catholic High School',
  {'lat': 52.1388107, 'lng': -106.6722033},
  'Caswell Community School',
  {'lat': 52.12807979999999, 'lng': -106.6810388},
  'Princess Alexandra Community School',
  {'lat': 52.139676, 'lng': -106.648072},
  'Maria Montessori Preschool',
  {'lat': 52.1338815, 'lng': -106.6848947},
  'Westmount Community School',
  {'lat': 52.147756, 'lng': -106.6454079},
  'École St. Paul Elementary School',
  {'lat': 52.14479979999999, 'lng': -106.6882793},
  'École Henry Kelsey School',
  {'lat': 52.133737, 'lng': -106.6810117},
  'Bedford Road Collegiate',
  {'lat': 52.12864039999999, 'lng': -106.6651608},
  'Post-Secondary Education & Skills Training',
  {'lat': 52.1607222, 'lng': -106.6731586},
  'SOULworks School of Enlightenment',
  {'lat': 52.1332144, 'lng': -106.6700458},
  'Aden bowman',
  {'lat': 52.1297153, 'lng': -106.6394431},
  'School of Rehabilitation Science, University of Saskatchewan',
  {'lat': 52.1494159, 'lng': -106.6675388},
  'Flex ED School',
  {'lat': 52.1441038, 'lng': -106.6670281},
  'St. Michael Community School',
  {'lat': 52.13224049999999, 'lng': -106.6570877},
  'Delong Ancient Mystery School',
  {'lat': 52.1389401, 'lng': -106.6718847},
  'Caswell Pre Kindergarten',
  {'lat': 52.1295211, 'lng': -106.6846622},
  'Saskatoon Conservatory of Music']]

In [ ]:
dfc_clean["ss"] = ss
dfc_clean

In [256]:
pru = [gl["geometry"]["location"] for r in starbucks for gl in r["results"]]
pru

[{'lat': 52.1315654, 'lng': -106.6409981},
 {'lat': 52.1276455, 'lng': -106.6664984},
 {'lat': 52.1311913, 'lng': -106.6369734},
 {'lat': 52.1285414, 'lng': -106.6636211},
 {'lat': 52.1475915, 'lng': -106.670829},
 {'lat': 52.1584278, 'lng': -106.6636507},
 {'lat': 52.1273637, 'lng': -106.675427},
 {'lat': 52.1315654, 'lng': -106.6409981},
 {'lat': 52.1276455, 'lng': -106.6664984},
 {'lat': 52.1311913, 'lng': -106.6369734},
 {'lat': 52.1285414, 'lng': -106.6636211},
 {'lat': 52.1475915, 'lng': -106.670829},
 {'lat': 52.1584278, 'lng': -106.6636507},
 {'lat': 52.1273637, 'lng': -106.675427}]

# Not near Marc

In [ ]:

def getOfficeNear(address, maxDist=2000):
    point = 
    return {"office": {"$near": {"$geometry": point,"$maxDistance": maxDist}}}

In [ ]:
point = 
maxDist = 2000
cur = db.companies.find({"office": {"$near": {"$geometry": point,"$maxDistance": maxDist}}}, {"_id":0})

# Geocodes

In [110]:
import requests

def geocode(address):
    '''
    Use geocode api to do forward geocoding. https://geocode.xyz/api
    '''
    res = requests.get(f"https://geocode.xyz/{zips}",params={"json":1})
    data = res.json()
    print(res)
    # Return as GeoJSON -> https://geojson.org/
    return data

In [100]:
import requests

def geo(address):
    '''
    https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
    
    
    '''
    res = requests.get(f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lng}&radius={radius}&keyword={kw}&key=AIzaSyDd0YPoW_oLTmBiwtI70BhBgCuDVdmqn98")
    data = res.json()
    # Return as GeoJSON -> https://geojson.org/
    return data["results"][0]["geometry"]["location"]

In [40]:
dfc = dfc[dfc.zip_code != ""]
dfc

,address1,zip_code,city,country_code,latitude,longitude,name,total_money_raised,founded_year
0,710 - 2nd Avenue,98104,Seattle,USA,47.603122,-122.333253,Wetpaint,$39.8M,2005
1,270 Lafayette Street,10012,New York,USA,40.723731,-73.996431,Wetpaint,$39.8M,2005
2,9229 W. Sunset Blvd.,90069,West Hollywood,USA,34.090368,-118.393064,Geni,$16.5M,2006
4,16935 W. Bernardo Dr. Suite 101,92127,San Diego,USA,33.022176,-117.081406,Slacker,$73.1M,2006
5,539 Bryant Street,94107,San Francisco,USA,37.789634,-122.404052,Scribd,$25.8M,2007
...,...,...,...,...,...,...,...,...,...
4560,905 Calle Amanecer,92673,San Clemente,USA,33.448010,-117.607717,Cameron Health,$121M,2001
4561,"2635 North 1st Street, Suite 150",95134,San Jose,USA,37.386417,-121.929170,Celestial Semiconductor,$2M,2004
4562,"Rue des Tanneurs, 60a",1000,Brussels,BEL,50.839970,4.346472,Getyoo,€1.13M,2009
4563,11 Eggleston view,DL3 9SH,London,GBR,NaN,NaN,OfficialVirtualDJ,€25M,2009
4564,"1350 Willow Road,",94025,Menlo Park,USA,37.477008,-122.151599,Purfresh,$62.7M,1996

In [120]:
zips = [e for e in dfc.zip_code][2]
zips

'90069'

In [121]:
geocode(zips)

<Response [200]>

{'standard': {'addresst': {},
  'city': 'Post',
  'prov': 'US',
  'countryname': 'United States of America',
  'postal': {},
  'confidence': '0.266666666666667'},
 'longt': '-101.39034',
 'alt': {},
 'elevation': {},
 'latt': '33.21833'}

In [108]:
address = [str(e).replace(" ","+") for e in dfc.address1][0:20]
address

['710+-+2nd+Avenue',
 '270+Lafayette+Street',
 '9229+W.+Sunset+Blvd.',
 '16935+W.+Bernardo+Dr.+Suite+101',
 '539+Bryant+Street',
 '135+Mississippi+St',
 '100+5th+Ave+Fl+6',
 '1050+Enterprise+Way,+5th+floor',
 '475+Brannan+St',
 '1601+Willow+Road',
 '340+Madison+Ave',
 '1355+Market+St.',
 '3525+Eastham+Dr.',
 '442+Post+Street',
 '360+Post+St.+Ste.+1100',
 '1595+Spring+Hill+Road',
 '568+Broadway',
 '10555-A+Jefferson+Blvd.',
 '225+West+Washington',
 '505+Montgomery+Street']

In [122]:
coors=[]
for e in address:
    e1 = geo(e)
    coors.append(e1)
coors

[{'lat': 40.74729170000001, 'lng': -73.9735275},
 {'lat': 40.7239832, 'lng': -73.996478},
 {'lat': 34.0904502, 'lng': -118.3928048},
 {'lat': 33.0226589, 'lng': -117.0806562},
 {'lat': 37.7802429, 'lng': -122.3966842},
 {'lat': 37.7647369, 'lng': -122.3945599},
 {'lat': 40.7369633, 'lng': -73.99316900000001},
 {'lat': 37.4045818, 'lng': -122.0360211},
 {'lat': 37.7786204, 'lng': -122.3951795},
 {'lat': 37.4834888, 'lng': -122.1499691},
 {'lat': 40.7538758, 'lng': -73.9788803},
 {'lat': 37.77642, 'lng': -122.4172174},
 {'lat': 34.0258046, 'lng': -118.3780608},
 {'lat': 37.7883284, 'lng': -122.4091425},
 {'lat': 37.788633, 'lng': -122.4076586},
 {'lat': 38.926172, 'lng': -77.245195},
 {'lat': 40.7243855, 'lng': -73.997479},
 {'lat': 34.0067167, 'lng': -118.3929378},
 {'lat': 41.8829789, 'lng': -87.6349716},
 {'lat': 37.7939112, 'lng': -122.4033221}]

In [87]:
coors[0]["results"][0]["geometry"]["location"]

{'lat': 39.1710682, 'lng': -94.5483855}